@using LMS_Project.ViewModel;
@model List<PostMedia>
@inject IHttpContextAccessor HttpContextAccessor




@{

    int i = 1;
    if (@ViewBag.CurrentPage != 1)
    {
        i = 1;

    }
}

@foreach (var user in Model)
{
    ViewBag.counter = i++;
    <tr>

        
        <td class="text-truncate">@ViewBag.counter</td>
      @*  <td class="text-truncate"> @string.Join(",",user.PostPlatforms.Select(x=>x.Platform.Name))</td>*@
        @*<td class="text-truncate"> @string.Join(",",user.PostPlatforms.Select(x=>x.Platform.Name))</td>*@

        <td>
            <a href="/Media/Edit/@user.Id" class="text-decoration-none">
                @string.Join(",",user.PostPlatforms.Select(x=>x.Platform.Name))<p class="text-center card-text text-success"></p>
        </a>  
        </td>
  
        <td></td>
    
        <td class="mx-auto">
            <a asp-route-Id="@user.Id" asp-action="Delete" asp-controller="Media" data-toggle="modal" data-target="#mymodal@(user.Id)" class="font-weight-bold text-danger  pl-2"><i class="fas fa-trash"></i>Delete</a>
        </td>

        <div class="modal fade" id="mymodal@(user.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog d-flex justify-content-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Delete User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body  font-weight-bold">
                        Are you sure?
                        <br />
                        Do you really want to delete these records? This process cannot be undone.
                    </div>
                </div>
            </div>
        </div>



    </tr>
}